# Build Folders
bin/
obj/

# Visual Studio folders
.vs/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# NuGet packages
*.nupkg
packages/

# DotNet CLI
project.lock.json
project.fragment.lock.json
artifacts/

# Migrations are committed!

# Secrets (you may want to keep appsettings.json but exclude secrets)
appsettings.*.json

# Log files
*.log

# Other
*.vsix
*.vscode/
